* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.head {
    display: flex;
    max-width: 200rem;
    background-color: black;
    color: aliceblue;
    height: 3rem;
    justify-content: space-between;
    flex-direction: row;
}

.head .calender {
    font-weight: bold;
    font-style: normal;
    margin: auto 20px;
}

.head .tel {
    flex-direction: row;
    font-weight: bold;
    font-style: normal;
    margin: auto 20px;
}

.search input {
    padding-left: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.head .search {
    font-weight: bold;
    font-style: normal;
    margin: auto 0;
    margin-right: 80em;
    border-radius: 10px;
}

.head .member {
    font-weight: bold;
    font-style: normal;
    margin: auto 0;
    margin-right: 1em;
}

.head .member:hover {
    font-weight: bold;
    font-style: normal;
    margin: auto 0;
    color: rgba(255, 255, 255, 0.49);
    text-decoration: underline;
    width: auto;
    height: fit-content;
    cursor: pointer;
    margin-right: 1em;
}

.header {
    display: flex;
    background: white;
    width: 100%;
    height: 40px;
}

.header .page-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

.page-name h2 {
    margin: 10px 5em 10px 10em;
}

.header .quiz {
    text-transform: uppercase;
    font-size: 12px;
    border: 2px solid black;
    margin: 10px 10em 10px 10em;
    width: 15em;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.quiz p {
    margin-top: 3.5px;
}

.header span {
    text-transform: uppercase;
    margin: 15px 15px 10px 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.header span:hover {
    color: rgba(194, 123, 0, 0.25);
}

span p {
    margin-top: auto;
    margin-left: 30em;
    font-weight: bold;
}

span p:hover {
    color: rgba(194, 123, 0, 0.25);
    cursor: pointer;
}

.first-img {
    display: flex;
    max-width: 100%;
    min-height: 30rem;
    justify-content: space-evenly;
    margin-top: 2em;
}


.first-img img {
    width: 10rem;
    height: auto;
}

.one img {
    width: 35rem;
    height: 23.5em;
    margin-left: 20px;
}

.two img {
    width: 35rem;
    height: 23.5em;
}

.three img {
    width: 35rem;
    height: 23.5em;
}

.custom {
    display: flex;
    max-width: 100%;
}

.clubs {
    background: #DBC1E1;
    width: 40rem;
    min-height: 300px;
    margin-left: 15em;
    margin-right: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}


.clubs h1 {
    text-transform: capitalize;
    color: white;
    margin-top: 1.75em;
    margin-bottom: 0.5em;
}
.clubs h3 {
    text-transform: capitalize;
    color: white;
    margin-bottom: 30px;
    margin-left: -270px;
    align-self: center;
}

.custom .clubs p {
    background: hsla(17, 100%, 62%, 1);
    width: 15em;
    height: 20px;
    border-radius: 2px;
    margin-left: 80px;
    margin-top: 10px;
}

.clubs p {
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.shop p {
    margin-top: 3.5px;
}

.custom .clubs p:hover {
    background: #004db3;
    cursor: pointer;
    margin-top: 10px;
}

.fit {
    background: hsla(17, 100%, 62%, 1);
    color: white;
    width: 650px;
    height: 300px;
    margin-left: 200px;
    margin-right: 60px;
    text-align: center;
}

.fit h3 {
    text-transform: capitalize;
    color: white;
    margin-bottom: 30px;
    margin-top: 70px;
 }

.fit-quiz p {
    background: #DBC1E1;
    width: 12em;
    height: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35%;
    cursor: pointer;
 }

 .fit-quiz p:hover {
     background: #004db3;
 }

 .second-img {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
    margin-top: 100px;
}


 .second-img img {
    width: 550px;
    height: auto;
}

.four img {
    width: 550px;
    height: 375px;
    margin-left: 20px;
}

.five img {
    width: 550px;
    height: 375px;
}

.six img {
    width: 550px;
    height: 375px;
}

.client {
    background-color: rgb(18, 107, 119);
    margin-bottom: 20px;
}

.client h1 {
    color: black;
    margin-left: 20px;
}

.client h3 {
    margin-left: 30px;
}

.final {
    margin-top: 50px;
}

.final h2 {
    margin-left: 800px;
}

.final img  {
    width: 800px;
    margin-left: 500px;
}    

.final h1 {
    margin-left: 500px;
    margin-bottom: 100px;
}

.footer {
    display: flex;
    width: 2000px;
    max-width: 100%;
    height: 50px;
    background: #DBC1E1;
}

.footer span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.footer .events {
    font-weight: bold;
    font-style: normal;
    margin: 20px 20px;
}

.footer .results {
    font-weight: bold;
    font-style: normal;
    margin: 20px 20px;
}

.footer .partner {
    font-weight: bold;
    font-style: normal;
    margin: 20px 20px;
}

@media only screen and (max-width: 480px) {
    
    .head {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    .first-img {
        display: flex;
        flex-direction: column;
    }
    
    .first-img {
        display: flex;
        flex-direction: column;
    }
    
}